{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="explorer">
        <a href="{{ path('product') }}">
            <div id="anim_explorer">
            </div>
        </a>
    </div>
{% endblock %}
